<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8" />
  <title>templates</title>
  <style type="text/css">.ng-cloak { display: none; }</style>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
  <script src="ui-lib.js"></script>
  <script>angular.module("app", ["uiLib"]);</script>
  <script src="my-page.js"></script>
</head>
<body>
  <my-page>
    <div ui-define="content">
      My content
    </div>
    <div ui-define="menu">
      <a href="#file">File</a> <a href="#edit">Edit</a> <a href="#view">View</a>
    </div>
  </my-page>
</body>
</html>
