<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Transform request</title>
  <style type="text/css">.ng-cloak { display: none; }</style>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script>
  <script>
angular.module("app", ["ngResource"]).
factory(
  "services",
  ["$resource", function($resource)
  {
    return $resource(
      "http://md5.jsontest.com/",
      {},
      {
        MD5:
        {
          method: "GET",
          params: { text: null },
          then: function(resolve)
          {
            this.params.text = "***" + this.params.text + "***";
            this.then = null;
            resolve(this);
          }
        },
      });
  }]).
controller(
  "Test",
  ["services", function(services)
  {
    this.value = "Sample text";

    this.call = function()
    {
      this.result = services.MD5({ text: this.value });
    }
  }]);
  </script>
</head>
<body ng-app="app" ng-controller="Test as test">
  <label>Text: <input type="text" ng-model="test.value" /></label>
  <input type="button" value="call" ng-click="test.call()"/>
  <div ng-bind="test.result.md5"></div>
</body>
</html>
